body {
    justify-content: center;
    background-color: #ffc2f6;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
    width: 100%;
}

nav .logo {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    width: 100px;
}

nav ul{
    float: right;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
img {
    max-width:100%;
    height:auto;
}
nav ul li a{
    color: #39A9E3;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    font-weight: bold;
}
nav ul li{
    background: #ffc2f6;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    display: inline-block;
}
nav ul li:hover{
    background: black;
    border-radius: 6px;
    color: white;
}
nav ul li a:hover{
    color: white;
}

#flip div:first-child div {
    background: #4ec7f3;
}

#flip div:first-child {
    animation: show 5s linear infinite;
}

#flip div div {
    background: #42c58a;
}

#flip > div > div {
    padding: 4px 12px;
    height: 50px;
    margin-bottom: 45px;
    display: inline-block;
}

#flip div:first-child {
    animation: show 5s linear infinite;
}

#flip div:last-child div {
    background: #DC143C;
}

#flip {
    font-size: 35px;
    color: black;
    font-family: sans-serif;
    height: 50px;
    overflow: hidden;
    text-align: center;
}


nav{
    display: flex;
    height: 80px;
    width: 100%;
    background: #ffc2f6;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    position: fixed;
    top: 0px;
    width: 100%;
}

.title {
    color: white;
    font-size: 50px;
}

.title h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


.background-index {
    align-content: center;
    z-index: -100;
    margin-top: 80px;
    align-content: center;
    text-align: center;
    align-items: center;
}
.darkent{
    color: black;
}

.P{
    color: #F1A4F2;
}
.I{
    color: #E9E402;
}
.T{
    color: #39A9E3;
}


.price {
    color: #39A9E3;
}

@keyframes show { 
    0% {margin-top: -270px;} 
    5% {margin-top: -180px;} 
    33% {margin-top: -180px;} 
    38% {margin-top: -90px;} 
    66% {margin-top: -90px;} 
    71% {margin-top: 0px;} 
    99.99% {margin-top: 0px;} 
    100% {margin-top: -270px;} 
  }

section{
    display: block;
}

.shop {
    font-size: 32.5px;
    text-align: center;
    align-content: center;
    color: black;
    font-family: sans-serif;
}


.newline {
    background: url(line.png);
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

.lsd {
    color: black;
    font-size: 18.7px;
}

.ending{
    background-color: black;
}
.ending h6{
    color: white;
    text-align: center;
    font-size: 13pt;
    padding: 20px;
}
.a-line {
    color: #39A9E3;
    outline: none;
    text-decoration: none;
    transition: 0.3s;
}

.a-line :before {
    color: #39A9E3;
    outline: none;
    text-decoration: none;
}
.a-line:hover{
    font-size: 25px;
}

.promo {
    text-align: center;
    color: black;
    text-decoration: none;
}
.promo a{
    color: #F1A4F2;
}

#web{
    color: #F1A4F2;
}
#tech{
    color: #E9E402;
}
#mod{
    color: #39A9E3;
}


.background-shop {
    margin: 0 auto;
    align-self: center;
    margin: 0 auto;
    align-content: center;
    margin-top: 150px;
}

.shop-index {
    text-align: center;
    color: white;
    text-decoration: 5px;
    text-decoration-color: purple;
}


.itemcards {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: auto;
    grid-gap: 30px;
    display: grid;
    margin-bottom: 20px;
}

.article {
    margin: 0 auto;
    border-radius: 2vh;
    width: 300px;
    height: 500px;
    border: solid 5px #39A9E3;
    color: white;
}


.instock {
    color: #33c608;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    margin-left: 50px;
}

.quantity {
    margin-left: 48px;
    text-align: center;
    padding: 7px 20PX;
    background: #0e0e0e;
    font-size: 30px;
    color: white;
    border: solid 1px #c5c5c5;
    border-radius: 50%;
    cursor: pointer;
}

.numaro {
    color: white;
    font-size: 35px;
    margin-left: 32.4px;
}

.quantity-plus {
    margin-left: 40px;
    text-align: center;
    padding: 7px 17.4PX;
    background: #0e0e0e;
    font-size: 30px;
    color: white;
    border: solid 1px #c5c5c5;
    border-radius: 50%;
    cursor: pointer;
}

.addtocart {
    color: white;
    outline: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    margin-left: 48px;
    border-radius: 8vh;
    padding: 8px 55.6px;
    background: #0e0e0e;
    border: solid 1px #c5c5c5;
}

.checkout {
    outline: none;
    text-decoration: none;
    color: white;
    margin-left: 48px;
    border-radius: 8vh;
    padding: 8px 57.7px;
    background: #39A9E3;
    border: solid 1px #39A9E3;
}

.contacts-div{
    margin-left: 20%;
    margin-right: 20%;
}
.contacts-div h1{
    color: #39A9E3;
    font-size: 50px;
}

.contacts-p1{
   font-family: monospace;
   font-size: 24px;
   color: #39A9E3; 
   font-weight: bold;
}

.contacts-p2{
   font-family: monospace;
   font-size: 24px;
   color: white; 
   font-weight: bold;
}

.section1{
    height: 100vh;
    background-image: url(https://free4kwallpapers.com/uploads/originals/2019/12/22/trippy-wallpaper.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.section2{
    padding-top: 20px;
}


.section4{
    padding-top: 20px;
}
.section3{
    height: 100vh;
    background-image: url(https://www.teahub.io/photos/full/8-88188_trippy-wallpaper-luxury-psychedelic-wallpapers-4k-for-trippy.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.section5{
    height: 100vh;
    background-image: url(https://images.hdqwalls.com/wallpapers/psychedelic-bg.jpg);
    background-size: cover;
    background-attachment: fixed
}
.section6{
    height: 100vh;
    background-image: url(https://wallpaperaccess.com/full/956037.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.breakline{
    height: 30px;

    background-image: url(line.svg);
}


#btnCard {
    width: 100px;
    height: 100px;
    margin-left: 47.5%;
    margin-bottom: 20px;
    border-radius: 10%;
    background-image: url(../imgs/shopping_basket_buy_icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

#basketBackground {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
    background-color: black;
    display: none;
    transition: 1s;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: normal;
}

#basketShop {
    width: 80%;
    height: 90%;
    position: fixed;
    top: -120%;
    left: 10%;
    background-color: #39A9E3;
    border-radius: 50px;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: normal;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

@keyframes showen {
    0% {
        top: -110%;
    }
    100% {
        top: 5%;
    }
}

@keyframes showen1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}

#basketShop div {
    width: 20%;
    height: 30%;
    margin-left: 4%;
    background-color: #F1A4F2;
    border-radius: 50%;
}

#basketShop div img {
    width: 50%;
    margin-left: 25%;
}

#basketShop div p {
    font-family: monospace;
    text-align: center;
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-content{
    margin-left: 20%;
    margin-right: 20%;
    color: #39A9E3;
}

.contacts-content{
    margin-left: 20%;
    margin-right: 20%;
    color: #39A9E3;
}

.about-content h1{
    color: #39A9E3;
    font-size: 50px;
}
.contacts-content h1{
    color: #39A9E3;
    font-size: 50px;
}
.imgIG{
    width: 200px;
    border-radius: 30px;
    display: flex;
}

.newclass p{
    margin: 20px;
}
